<div class="row">
    <div class="columns small-12">
        <h2>Add New Queue</h2>
    </div>
</div>
<form ng-submit="addQueue()">
    <div class="row">
        <div class="columns small-6">
            <input class="radius" type="text" placeholder="Queue Name" ng-model="newQueue.name" />
        </div>
        <div class="columns small-6">
            <input class="radius" type="text" placeholder="Queue Hashtags" ng-model="newQueue.hashtags.content" />
        </div>
    </div>
    <div class="row">
        <div class="columns small-6">
            <label>
                Interval:
                <select ng-model="newQueue.interval" ng-required ng-options="interval for interval in intervals" ng-change="debug()">
                    <!-- <option ng-repeat="interval in intervals" ng-value="$index">{{interval}}</option> -->
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns small-6">
            <label ng-show="newQueue.interval == 'Weekly'">
                Day of Week:
                <select ng-change="debug()" ng-model="newQueue.dayOfWeek">
                    <option ng-repeat="day in daysOfWeek" ng-value="$index">{{day}}</option>
                </select>
            </label>
        </div>
        <div class="columns small-3">
            <label ng-show="newQueue.interval == 'Weekly' || newQueue.interval == 'Daily'">
                Hour of Day:
                <select ng-model="newQueue.hourOfDay">
                    <option ng-repeat="hour in hoursOfDay" ng-value="$index">{{hour}}</option>
                </select>
            </label>
        </div>
        <div class="columns small-3">
            <label ng-show="newQueue.interval == 'Weekly' || newQueue.interval == 'Daily' || newQueue.interval == 'Hourly'">
                Minute of Hour:
                <select ng-model="newQueue.minuteOfHour">
                    <option ng-repeat="minute in minutesOfHour" ng-value="$index">{{minute}}</option>
                </select>
            </label>
        </div>
        <div class="columns"></div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <button class="radius small right">Add Queue</button>
        </div>
    </div>
</form>