<h2>Add New Queue</h2>
<form ng-submit="addQueue()">
    <div class="row">
        <div class="columns small-6">
            <input class="radius" type="text" placeholder="Queue Name" name="queueName" ng-model="newQueue.name" />
        </div>
        <div class="columns small-6">
            <input class="radius" type="text" placeholder="Queue Hashtags" name="queueHashtags" ng-model="newQueue.hashtags" />
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <button class="radius small right">Add Queue</button>
        </div>
    </div>
</form>