<div class="row">
    <div class="columns small-12">
        <h1>{{title}}</h1>
    </div>
</div>

<form ng-submit="submitName()">
    <div class="row">
        <div class="columns small-12 medium-3">
            <input class="radius" placeholder="Name" type="text" ng-model="name" name="name"/>
        </div>
        <div class="columns small-12 medium-3">
            <input class="radius" placeholder="Text" type="text" ng-model="text" name="text"/>
        </div>
        <div class="columns small-12 medium-4">
            <input class="radius" placeholder="Hashtags" type="text" ng-model="hashtags" name="hashtags"/>
        </div>
        <div class="columns small-12 medium-2">
            <button class="radius small right">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="columns small-12">
        <table class="columns small-12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Misc Text</th>
                    <th colspan="2">Hashtags</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.names">
                    <td> <a ng-bind="item.name" ng-href="/names/{{item._id}}"></a></td>
                    <td ng-bind="item.text"></td>
                    <td ng-bind="item.hashtags"></td>
                    <td><a ng-click="delete(item._id)" class="small right button radius">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>