<div class="row">
    <div class="columns small-12">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row" ng-show="data.queues.length">
    <div class="columns small-12">
        <table class="columns small-12">
            <thead>
                <tr>
                    <th colspan="2">Queue</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="queue in data.queues">
                    <td ng-bind="queue.name"></td>
                    <td ng-bind="queue.hashtags.content"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>